html
	head
		title Social Integration
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet")
		script(src="https://unpkg.com/vue@2.3.0")
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		style
			:stylus
				body
					&,*
						box-sizing border-box
						font-family 'Open Sans', sans-serif
						font-weight 400
						margin 0
						padding 0
					&
						margin 10px
					b
						font-weight 700
					.section
						padding 10px
						background-color #f5f6f7
					.row
						padding-bottom 20px
					input, label
						font-size 20px
					input
						padding 4px
						outline none
					label
						margin 0 10px
						span
							font-size 12px
							&.req
								color #A00000
							&.nreq
								color #0000a0
					.text
						margin-left 20px
						font-size 12px
						a
							color #008000

	body
		#app
			.section
				h2 Facebook
				.row
					label(for="fb_access_token") Access Token <span class="req">(Required)</span>
					input#fb_access_token(type="text",v-model="fb_access_token")
					.text You need a facebook app to access facebook reactions and comments for an specific post.
					.text Follow <a target="_blank" href="https://smashballoon.com/custom-facebook-feed/access-token/">this guide</a> to get one
				.row
					label(for="fb_post_id") Post ID <span class="req">(Required)</span>
					input#fb_post_id(type="text",v-model="fb_post_id")
					.text Once you have your post in facebook, you'll need to get the POST id to pull data from
					.text Follow <a target="_blank" href="http://blog.krischant.com/post/54131988674/tutorial-finding-a-post-or-comment-id-on-facebook">this guide</a> to find it
				.row
					label(for="fb_refresh_time") Refresh time <span class="nreq">(Optional, default: 5 seconds)</span>
					input#fb_refresh_time(type="text",placeholder="5",v-model="fb_refresh_time")
					.text Needed to set the polling frequency. 5 seconds is recommended to avoid excess traffic.
			br
			.section
				h2 Twitch
				.row
					label(for="twitch_username") User <span class="req">(Required)</span>
					input#twitch_username(type="text",v-model="twitch_username")
					.text Your twitch username / channel name
				.row
					.text For the next part, you'll need to create a custom app in your twitch account. Follow <a target="_blank" href="https://dev.twitch.tv/docs/v5/guides/authentication/#registration">this instructions</a> to create one and get your Client ID.
					.text Choose anything for the fields, except <b>Redirect URI</b>, that one must be: <b>http://localhost:1337/oauth</b>
				.row
					label(for="twitch_client_id") Client ID <span class="req">(Required)</span>
					input#twitch_client_id(type="text",v-model="twitch_client_id")
					.text obtained from your new generated twitch app
				.row
					.text
						|Now, you'll need to authorize the app with the overlayer. Just 
						a(v-bind:href="oauthURL" 
							target="popup" 
							v-bind:onclick="oauthURL2"
						) follow this link
		script
			:coffee-script(bare)
				$computed = {
					oauthURL : ->
						return "https://api.twitch.tv/kraken/oauth2/authorize?response_type=token&client_id=#{$scope.twitch_client_id}&redirect_uri=http://localhost:1337/oauth&scope=channel_subscriptions chat_login"
					oauthURL2 : ->
						return "window.open('https://api.twitch.tv/kraken/oauth2/authorize?response_type=token&client_id=#{$scope.twitch_client_id}&redirect_uri=http://localhost:1337/oauth&scope=channel_subscriptions chat_login','popup','width=600,height=600');"
				}
				$scope =
					fb_access_token : ""
					fb_post_id : ""
					fb_refresh_time : "5"
					twitch_username : ""
					twitch_client_id : ""

				app = new Vue
					el : "#app"
					data : $scope
					computed : $computed