@keyframes followerAnimation {
	0%{
		top 0
		opacity 0
	}
	10%{
		opacity 1
	}
	25% {
		top 20px
	}
	75% {
		top 20px
		opacity 1
	}
	80%{
		opacity 0
	}
	100% {
		top -150px
		opacity 0
	}
}

body
	&,*
		box-sizing border-box
		font-family 'Open Sans', sans-serif
		line-height 1.7rem
		font-weight 400
		margin 0
		padding 0
.defs-only
	display none
.relative
	position relative
	top 0
	left 0
	width 100%
	height 100%
.container
	background-size cover
.cameraZone
	display none
	position absolute
	bottom (spacing + reactionsHeight + spacing)px
	right spacing
	border 4px solid rgba(#000,0.3)
	width cameraWidth px
	height cameraHeight px
	.inner
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		border 2px solid rgba(convert(accentColor),0.6)
		&:after
			content " "
			position absolute
			top -6px
			left -6px
			border 2px solid rgba(darken(convert(accentColor), 50%),0.3)
			width calc(100% + 9px)
			height calc(100% + 9px)
.accent
	position absolute
	bottom 0
	width 100%
	height 100%
	overflow hidden
	&.right
		transform scaleX(-1)
	&.top
		transform scaleY(-1)
	&.topright
		transform scale(-1,-1)
	.triangle, .rect1, .rect2
		left 0
		bottom 0
		background-color convert(accentColor)
		position absolute
		box-shadow 1px 5px 2px 1px rgba(#000,.3)
		transform skew(45deg)
	.triangle
		width 38px
		height 38px
		left -30px
	.rect1
		width 20%
		height 10px
	.rect2
		width 25%
		height 5px
.reactionsZone
	display none
	justify-content space-between
	position absolute
	right spacing
	bottom spacing
	width cameraWidth
	height reactionsHeight
	background-color #fff
	border-radius 4px
	.reaction
		text-align center
		flex-grow 1
	img
		width 100%
		max-width 50px
		mix-blend-mode: multiply;
	.counter
		margin-top -10px
.chatZone
	display none
	width cameraWidth
	height 250px
	-webkit-mask-image linear-gradient(to bottom, rgba(#000,0) 10%,rgba(#000,1) 80%)
	overflow hidden
	position absolute
	right 10px
	bottom (spacing + reactionsHeight + spacing + cameraHeight + spacing)px
	color #fff
	flex-flow: column nowrap;
	justify-content: flex-end;
	.row
		&.twitch
			.twitch
				display inline-block
			.author
				background-color #6441A4
		&.facebook
			.facebook
				display inline-block
			.author
				background-color #3B5998
	.time
		font-weight 300
		font-size 10px
		vertical-align middle
		float right
		margin-right 5px
	.source
		display none
		margin 0 5px
		svg
			vertical-align middle
			width 20px
			height 20px
			fill #fff
	.author
		font-weight 400
	.message
		padding 5px
		color #000
		background-color rgba(#fff,0.9)
		font-size 12px
		line-height 12px
.animateFollowers
	animation-name followerAnimation
.newFollowerZone
	position absolute
	top -150px
	left 50%
	height 70px
	width 50%
	transform translateX(-50%)
	animation-duration: 5s;
	border 2px solid darken(convert(accentColor),40%)
	.decoration
		position absolute
		transform skew(35deg) rotate(3deg)
		background-color convert(accentColor)
		top 0
		left 0
		width 100%
		height 100%
		border 2px solid darken(convert(accentColor),40%)
		box-shadow 1px 5px 2px 1px rgba(#000,.3)
	.nameZone
		position absolute
		top 0
		left 0
		background-color #000
		width 100%
		height 100%
		border-top 5px dashed darken(convert(accentColor),40%)
		border-bottom 5px dashed darken(convert(accentColor),40%)
		display flex
		color #fff
		justify-content center
		align-items center
		span
			font-family 'Press Start 2P', cursive
		.span2
			color convert(accentColor)